$black: #000000;
$white: #ffffff;

$--background-dark: #47476b;

$--text-dark: #ffb617;

$--highlight: #1783ff;
$--highlight-light: #d5e8ff;

$--border-radius-circle: 10rem;
$--border-radius-rounded: 1rem;
$--border-radius-lightly-rounded: 0.5rem;
